@font-face
{
    font-family:archer_font;
    src:url('fonts/Archer/Archer-Medium-Pro.otf');
}

@font-face
{
    font-family:gotham_font;
    src:url('fonts/Gotham/Gotham-Black.otf');
}

div,span,html,body
{
    /*
    border:1px solid black;
    */
    padding:0px;
    margin:0px;
}

body
{
    user-select:none;
    -webkit-user-select:none;
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.full_screen
{
    width:320px;
    height:504px;
    position:absolute;
    top:0px;
    left:0px;
    overflow:hidden;
    background-size:320px 504px;
}

.game
{
    display:none;
}

.vid
{
    display:none;
}

.intro
{
    display:none;
    background-color:rgba(237,177,31,0.5);
}

.activity
{
    display:none;
}

.guru
{
    display:none;
}

#hud
{
    width:320px;
    height:110px;
    position:absolute;
    top:0px;
    right:0px;
}

#havedisplay
{
    width:320px;
    height:90px;
    position:absolute;
    top:0px;
    left:0px;
    font-size:80px;
    font-family:gotham_font;
    color:#EDB11F;
    text-shadow:5px 5px 10px #000000;
    text-align:center;
    background-color:rgba(237,177,31,0.5);
}

#wantdisplay
{
    width:200px;
    height:20px;
    position:absolute;
    top:90px;
    left:0px;
    font-size:x-large;
    font-family:gotham_font;
    color:#EDB11F;
}

.drill_bg
{
    background-image:url("assets/drill_bg.png");
}

.dynamite_left_bg
{
    background-image:url("assets/dynamite_left_bg.png");
}

.dynamite_right_bg
{
    background-image:url("assets/dynamite_right_bg.png");
}

.backer_bg
{
    background-image:url("assets/backer_bg.png");
}

#fail
{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    display:none;
}

#failBG
{
    display:block;
    width:100%;
    position:absolute;
    top:0px;
}

#failFG
{
    display:block;
    position:absolute;
    top:20px;
    left:60px;
    width:200px;
}

#moneydelta
{
    display:none;
    width:320px;
    height:500px;
    position:absolute;
    top:200px;
    left:0px;
    font-size:70px;
    font-family:gotham_font;
    color:#EDB11F;
    text-align:center;
    overflow:visible;
}

.introprompt
{
    display:block;
    width:320px;
    position:absolute;
    top:0px;
    left:0px;
}

.introimage
{
    display:block;
    width:320px;
    position:absolute;
    top:20px;
    left:50px;
}

.introdialog
{
    width:300px;
    height:100px;
    position:absolute;
    left:0px;
    bottom:44px;
    padding:10px;
    overflow:scroll;
    background-color:rgba(255,255,255,0.9);
}

.bottombutton
{
    width:320px;
    height:44px;
    position:absolute;
    left:0px;
    bottom:0px;
    border-top:1px solid gray;
    background-color:rgba(255,255,255,0.9);
}

.forwardarrow
{
    display:block;
    width:24px;
    position:absolute;
    right:10px;
    bottom:10px;
}

.guruimage
{
    display:block;
    width:320px;
    position:absolute;
    top:150px;
    left:50px;
}

.gurutalk
{
    width:300px;
    height:100px;
    position:absolute;
    left:0px;
    bottom:44px;
    padding:10px;
    overflow:scroll;
    background-color:rgba(255,255,255,0.9);
}

.overlay
{
    position:absolute;
    width:320px;
    height:504px;
    background-color:rgba(70,70,70,0.8);
    display:none;
}

.alert
{
    margin:0px auto;
}

#drillimagecontainer
{
    width:306px;
    position:absolute;
    top:150px;
    left:7px;
}

#drillimage
{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    width:306px;
}

#drillindicatorbanner
{
    display:block;
    width:360px;
    height:60px;
    -webkit-transform:rotate(16deg);
    background-color:rgba(237,177,31,0.5);
    position:absolute;
    font-size:50px;
    font-family:gotham_font;
    color:#EDB11F;
    text-shadow:5px 5px 10px #000000;
    text-align:center;
    left:-20px;
    bottom:130px;
}

#dynamiteintroimage
{
    top:30px;
    left:90px;
}

#dynamiteholes
{
    position:absolute;
    top:100px;
    width:320px;
    margin:0px auto;
}

.dynamitehole
{
    display:none;
    width:30px;
    height:30px;
    position:absolute;
}

#dynamiteindicator
{
    display:block;
    width:320px;
    position:absolute;
    left:0px;
    bottom:100px;
}

#dynamiteindicatorbanner
{
    display:block;
    width:360px;
    height:60px;
    -webkit-transform:rotate(16deg);
    background-color:rgba(237,177,31,0.5);
    position:absolute;
    left:-20px;
    bottom:130px;
}

#backerrocks
{
    display:block;
    width:320px;
    position:absolute;
    top:0px;
    left:0px;
}

.backerpole
{
    position:absolute;
    top:0px;
    left:0px;
}

.backerpoleimage
{
    display:block;
    position:absolute;
    top:150px;
}

#backerpoleleftimage
{
    left:67px;
    width:56px;
}

#backerpolerightimage
{
    left:171px;
    width:111px;
}

#strike_you_portrait
{
    width:160px;
    height:160px;
    float:left;
}

#strike_you_portrait_image
{
    margin:10px 0px 0px 10px;
    width:150px;
    height:150px;
}

#strike_interaction
{
    width:160px;
    float:left;
}

#strike_other_portraits
{
    margin:10px 0px 0px 10px;
    width:300px;
    float:left;
}

.strike_other_portrait
{
    width:60px;
    height:60px;
    float:left;
}

.strike_button
{
    margin:40px 0px 0px 10px;
    width:140px;
    text-align:center;
    border:1px solid black;
    background-color:#888899;
}

#strike_timer
{
    margin:10px 0px 0px 10px;
    display:none;
}

#congrats
{
    top:0px;
    left:0px;
}

.congratsalert
{
    display:block;
    width:250px;
    position:relative;
    top:110px;
}
