#debug
{
    display:none;
}

div
{
    /*
    border-style:solid;
    border-width:1px;
    border-color:#FF0000;
    */
    padding:0px;
    font-weight:Bold;
}

body
{
    -webkit-user-select:none;
    user-select:none;
    background-color:#FFFFFF;
}

#screen
{
    position:absolute; 
    margin:0px; 
    width:320px; 
    height:416px;
    background-image:url("images/Fur_Trade_Screen_Intro.png");
}

.scene
{
    width:100%;
    height:100%;
    display:none;
}

#introCharacter
{
    width:100%;
}
#introCharacterText
{
}
#introCharacterImage
{
    width:100px;
}

#introItem
{
    width:100%;
}
#introItemText
{
}
#introItemImage
{
    width:100px;
}

#topBar
{
    width:100%;
}
#topBarText
{
    width:50px;
    margin:0 auto;
}

#tradeContent
{
    width:100%;
}

#tradeTable
{
    width:100%;
}
#inventory
{

}
.hasCell
{
    width:100%;
    height:48px;
    border-style:solid;
    border-width:1px;
    border-color:#000000;
}
.hasCellIcon
{
    width:48px;
    height:48px;
    float:left;
}
.hasCellTitle
{
    font-size:12px;
    float:left;
}
.hasCellQty
{
    font-size:10px;
    float:left;
}
.selectedCell
{
    background-color:#EEEEEE;
}
#wants
{
}
.needsCell
{
    width:100%;
    height:48px;
    border-style:solid;
    border-width:1px;
    border-color:#000000;
}
.needsCellIcon
{
    width:48px;
    height:48px;
    float:left;
}
.needsCellTitle
{
    font-size:12px;
    float:left;
}
.verifiedCell
{
    background-color:#EEFFEE;
}

#bottomBar
{
    width:100%;
    position:absolute;
    bottom:0px;
}
#helper
{
    float:right;
}
