@font-face
{
    font-family:archer_font;
    src:url('fonts/Archer/Archer-Medium-Pro.otf');
}

@font-face
{
    font-family:gotham_font;
    src:url('fonts/Gotham/Gotham-Black.otf');
}

#debug
{
    display:none;
}

.gotham
{
    font-family:gotham_font;
}

.archer
{
    font-family:archer_font;
}

div
{
    /*
    border-style:solid;
    border-width:1px;
    border-color:#FF0000;
     */
    padding:0px;
    font-weight:Bold;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

body
{
    -webkit-user-select:none;
    user-select:none;
    font-family:Helvetica;
    font-size:30px;
    background-color:#111111;
    color:#FFFFFF;
    margin:0px;
    padding:0px;
}

#screen
{
    width:640px; 
    height:832px;
    margin:0px; 
    position:absolute; 
    top:0px;
    left:0px;
    background-image:url("assets/bgimage.png");
}

.scene
{
    display:none;
    width:640px;
    height:832px;
    position:absolute;
    top:0px;
    left:0px;
}

.button
{
    border:1px solid #32A2AD;
    border-radius:40px;
    width:550px;
    text-align:center;
    margin:0px auto;
    padding:20px 0px;
}

#graph
{
    width:600px;
    height:600px;
    margin:0px;
    padding:0px;
    position:absolute;
    bottom:20px;
}

#goal
{
    width:550px;
    border-bottom:5px dashed white;
    position:absolute;
    bottom:-500px; /*hide it*/
    left:25px;
    font-family:gotham_font;
}

#chore
{
    position:absolute;
    width:530px;
    top:30px;
    padding:0px 85px 0px 85px;
}

#chorebar
{
    width:555px;
    height:100px;
    margin:0px auto;
}

.choreslot
{
    float:left;
    margin-left:5px;
    width:80px;
    height:80px;
    text-align:center;
    position:relative;
    top:20px;
}

.choreslotimg
{
    position:absolute;
    top:10px;
    width:60px;
}

.variable
{
    width:140px;
    height:600px;
    margin:0px 30px;
    float:left;
    position:relative;
    left:15px;
}

.bar
{
    width:120px;
    height:0px;
    padding:0px;
    background-color:#32A2AD;
    border:1px solid #32A2AD;
    position:absolute;
    left:10px;
    bottom:130px;
}

.goalbar
{
    background-color:transparent;
    border:5px dashed white;
    left:7px;
    bottom:126px;
    text-align:center;
    font-family:archer_font;
}

.icon
{
    display:block;
    width:140px;
    height:140px;
    position:absolute;
    bottom:60px;
}

.iconimg
{
    width:140px;
    height:140px;
}

.text
{
    width:140px;
    height:20px;
    text-align:center;
    font-size:35px;
    font-family:archer_font;
    color:black;
    position:absolute;
    bottom:30px;
}

#choretext
{
    height:20px;
    font-size:40px;
    font-family:archer_font;
}
