@font-face
{
    font-family:archer_font;
    src:url('fonts/Archer/Archer-Medium-Pro.otf');
}

@font-face
{
    font-family:gotham_font;
    src:url('fonts/Gotham/Gotham-Black.otf');
}

#debug
{
    display:none;
}

.gotham
{
    font-family:gotham_font;
}

.archer
{
    font-family:archer_font;
}

div
{
    /*
    border-style:solid;
    border-width:1px;
    border-color:#FF0000;
     */
    padding:0px;
    font-weight:Bold;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

body
{
    -webkit-user-select:none;
    user-select:none;
    font-family:gotham_font;
    background-color:#FFFFFF;
    margin:0px;
    padding:0px;
}

#screen
{
    width:320px; 
    height:416px;
    margin:0px; 
    position:absolute; 
    top:0px;
    left:0px;
    background-image:url("images/core/background.png");
}

.scene
{
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.alert
{
    width:100%;
    display:none;
    position:absolute;
    top:0px;
    left:0px;
}

#wrongitemalert
{
    width:320px;
    position:absolute;
    top:0px;
    left:0px;
}

#wrongitembutton
{
    display:block;
    width:270px;
    margin:0px auto;
    position:relative;
    top:145px;
}

#rolechangealert
{
    width:320px;
    position:absolute;
    top:0px;
    left:0px;
}

#rolechangetext
{
    width:300px;
    margin:0px auto;
    text-align:center;
    position:relative;
    top:135px;
}

#rolechangeoptions
{
    width:270px;
    margin:0px auto;
    position:relative;
    top:145px;
}

#keeprole_button
{
    float:left;
    width:132px;
}

#switchrole_button
{
    float:right;
    width:132px;
}

.right_arrow
{
    width:42px;
    position:absolute;
    bottom:10px;
    right:10px;
}

.left_arrow
{
    width:42px;
    position:absolute;
    bottom:10px;
    left:10px;
}

#splashContent
{
    display:block;
    width:257px;
    margin:0px auto;
    position:relative;
    top:40px;
}

#roleContent
{
    display:block;
    width:262px;
    margin:0px auto;
    position:relative;
    top:40px;
}

#inventoryBackground
{
    display:block;
    height:359px;
    margin:0px auto;
    position:relative;
    top:30px;
}

#needTable
{
    display:block;
    width:80%;
    position:relative;
    margin:0px auto;
    padding:0px;
    border:0px;
    top:-485px;
}

#needTable td
{
    width:50%;
    padding:0px;
    margin:0px;
    text-align:center;
}

.needbox
{
    height:26px;
}

#inventorytable
{
    padding-top:10px;
    width:270px;
    height:188px;
    position:relative;
    top:-176px;
    margin:0px auto;
    overflow:scroll;
    -webkit-overflow-scroll:touch;
}

.inventorycell
{
    margin:0px 10px 10px 10px;
    width:250px;
    height:48px;
    position:relative;
}

.selectedinventorycell
{

}

.meaningfulinventorycell
{

}

.inventorybg
{
    width:250px;
    height:54px;
    position:absolute;
    left:0px;
    top:-3px;
}

.inventoryiconbg
{
    width:64px;
    position:absolute;
    left:-8px;
    top:-8px;
}

.inventoryiconfgbox
{
    width:46px;
    height:46px;
    position:absolute;
    left:0px;
    top:0px;
}

.inventoryiconfg
{
    display:block;
    max-width:46px;
    max-height:46px;
    position:relative;
    top:0px;
    margin:0px auto;
}

.inventorytitle
{
    font-size:large;
    color:#4e3f3d;
    position:absolute;
    top:8px;
    left:54px;
}

.inventorydescription
{
    font-size:small;
    color:#4e3f3d;
    position:absolute;
    top:25px;
    left:54px;
}

#animcell
{
    display:none;
    position:relative;
    top:-500px;
    margin:0px auto;
}
