@font-face
{
    font-family:archer_font;
    src:url('fonts/Archer/Archer-Medium-Pro.otf');
}

@font-face
{
    font-family:gotham_font;
    src:url('fonts/Gotham/Gotham-Black.otf');
}

div,span,html,body
{
    padding:0px;
    margin:0px;
}

body
{
    user-select:none;
    -webkit-user-select:none;
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.full_screen
{
    width:320px;
    height:504px;
    position:absolute; 
    top:0px;
    left:0px;
    overflow:hidden;
    background-size:320px 504px;
}

.role
{
    display:none;
}

#vid
{
    display:none;
}

.intro
{
    display:none;
    background-color:rgba(245,129,36,0.5);
}

.get
{
    display:none;
}

.trade
{
    display:none;
}

.guru
{
    display:none;
    overflow:visible;
}

#hud
{
    width:320px;
    height:110px;
    position:absolute;
    top:0px;
    right:0px;
}

#havedisplay
{
    width:320px;
    height:80px;
    padding-top:10px; /*remember to alter height in conjunction with this*/
    position:absolute;
    top:0px;
    left:0px;
    font-size:65px;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:5px 5px 10px #000000;
    text-align:center;
    background-color:rgba(245,129,36,0.5);
}

#wantdisplay
{
    width:320px;
    height:20px;
    position:absolute;
    top:90px;
    left:0px;
    font-size:x-large;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:2px 2px 4px #000000;
}

.clerk_bg
{
    background-image:url("assets/clerk_bg.png");
}

.hunter_bg
{
    background-image:url("assets/hunter_bg.png");
}

#deltaview
{
    display:none;
    width:320px;
    height:500px;
    position:absolute;
    top:200px;
    left:0px;
    font-size:40px;
    font-family:gotham_font;
    color:#F58124;
    text-align:center;
    overflow:visible;
}

.introprompt
{
    display:block;
    width:320px;
    position:absolute;
    top:0px;
    left:0px;
}

.introimage
{
    display:block;
    width:320px;
    position:absolute;
    top:20px;
    left:50px;
}

#clerkintroimage
{
    width:400px;
    left:0px;
}

#hunterintroimage
{
    top:-80px;
}

#sellerimage
{
    display:block;
    width:320px;
    position:absolute;
    top:80px;
    left:50px;
}

.introdialog
{
    width:300px;
    height:100px;
    position:absolute;
    left:0px;
    bottom:44px;
    padding:10px;
    overflow:scroll;
    background-color:rgba(255,255,255,0.9);
}

.bottombutton
{
    width:320px;
    height:44px;
    position:absolute;
    left:0px;
    bottom:0px;
    border-top:1px solid gray;
    background-color:rgba(255,255,255,0.9);
}

.bottombuttontext
{
    position:absolute;
    right:40px;
    top:5px;
    font-size:25px;
}

.forwardarrow
{
    display:block;
    width:24px;
    position:absolute;
    right:10px;
    bottom:10px;
}

.guruimage
{
    display:block;
    width:320px;
    position:absolute;
    top:50px;
    left:50px;
}

#clerkguruimage
{
    width:400px;
    top:20px;
}

#hunterguruimage
{
    top:-80px;
}

.gurutalk
{
    width:300px;
    height:100px;
    position:absolute;
    left:0px;
    bottom:44px;
    padding:10px;
    overflow:scroll;
    background-color:rgba(255,255,255,0.9);
}

#clerkitemget
{
    display:block;
    position:absolute;
    top:125px;
    left:10px;
    width:100px;
    height:100px;
}

#peltget
{
    display:block;
    position:absolute;
    top:125px;
    left:10px;
    width:300px;
}

#clerktradechoose
{
    position:absolute;
    top:125px;
    left:20px;
    font-size:50px;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:5px 5px 10px #000000;
}

#clerktradeitem
{
    display:block;
    position:absolute;
    top:100px;
    left:185px;
    width:100px;
}

#clerktradepool
{
    position:absolute;
    top:200px;
    left:10px;
    width:300px;
    height:300px;
    overflow:scroll;
}

.tradecell
{
    position:relative;
    width:296px;
    height:100px;
    border:2px solid black;
    margin-bottom:10px;
    background-color:rgba(245,129,36,0.5);
}

.tradecellimg
{
    display:block;
    position:absolute;
    top:10px;
    left:10px;
    width:80px;
    height:80px;
}

.tradecelltitle
{
    position:absolute;
    top:10px;
    left:100px;
    width:220px;
    font-size:30px;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:5px 5px 10px #000000;
}

.tradecellqty
{
    position:absolute;
    bottom:10px;
    right:10px;
    font-size:20px;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:5px 5px 10px #000000;
}

#huntertradeinc
{
    position:absolute;
    top:126px;
    left:180px;
    font-size:60px;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:5px 5px 10px #000000;
}

#huntertradecounter
{
    position:absolute;
    top:180px;
    left:20px;
    font-size:50px;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:5px 5px 10px #000000;
}

#huntertradedec
{
    position:absolute;
    top:210px;
    left:187px;
    font-size:60px;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:5px 5px 10px #000000;
}

#huntertradehave
{
    position:absolute;
    top:300px;
    left:20px;
    font-size:50px;
    font-family:gotham_font;
    color:#F58124;
    text-shadow:5px 5px 10px #000000;
}

